DIRECTUS_URL="http://localhost:8055"
DIRECTUS_SERVER_TOKEN="your_admin_static_token"
DIRECTUS_ADMIN_TOKEN="token_from_Admin_account" # Only for local type generation, never used at runtime
NUXT_PUBLIC_SITE_URL="http://localhost:3000"
# Set to false to disable (enabled by default)
# NUXT_PUBLIC_ENABLE_VISUAL_EDITING=false
